# ATLAS Environment Secrets Template
# Copy this file to .secrets and fill in the values
# This file is for secrets. Set non-secret configs in .env.

# Redis-Stack password. 
REDIS_DEV_PASSWORD="redis_dev_password"
REDIS_STAGING_PASSWORD="redis_staging_password"
REDIS_PROD_PASSWORD="redis_prod_password"
# This will be set by setup_env.sh based on the current environment (dev/staging/prod)
REDIS_PASSWORD=""

# Observability & monitoring (Phoenix Arize)
PHOENIX_API_KEY="<DEFAULT>"
  
# API keys for LLM services
OPENAI_API_KEY="<DEFAULT>"
ANTHROPIC_API_KEY="<DEFAULT>"

# AWS Cognito Config - Dev & Staging
REACT_APP_COGNITO_REGION="<DEFAULT>"
REACT_APP_COGNITO_DOMAIN="<DEFAULT>"
REACT_APP_USERPOOL_ID="<DEFAULT>"
REACT_APP_CLIENT_ID="<DEFAULT>"
REACT_APP_ISSUER_URL="<DEFAULT>"
REACT_APP_REDIRECT_URI="<DEFAULT>"
# Note the trailing slash
REACT_APP_FRONTEND_URL=https://localhost/
REACT_APP_LOGOUT_URL=<DEFAULT>
REACT_APP_OAUTH_SCOPE="openid email profile"